# GitHub API Token (Needs 'repo' or 'public_repo' scope)
TOKEN=
# MotherDuck Token (Get this from app.motherduck.com)
MOTHERDUCK_TOKEN=
# Target MotherDuck Database Name
MOTHERDUCK_DATABASE=
# OpenAI API Key (Get this from platform.openai.com)
OPENAI_API_KEY=
# LMStudio Base URL (Get this from your LMStudio instance)
LMSTUDIO_BASE_URL=
#Lookback window days
INITIAL_LOOKBACK_DAYS=180
#Path to the DBT dev database
DBT_DEV_PATH=